html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bcc{
  background-color: #142a3d;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 1rem;
}

.bcc img{
  width: 231px;
  padding: 0 .75rem;
}
.bcc img.bcc-logo{
  width: 330px;
  border-right: 1px dotted #688cb1;
  margin-left: .5rem;
}